@charset "UTF-8";

/* 共通部分のCSS
----------------------------------------------- */

html {
    font-size: 62.5%;
}

body {
    color: #333;
    font-size: 1.2rem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
    color: #23519B;
    text-decoration: none;
}


/* 大枠
----------------------------------------------- */

.header {
    width: 100%;
    min-width: 1000px;
    padding: 24px 0 8px;
    background: url('../images/bg-header.gif') repeat-x;
    box-shadow: 0 0 10px 1px #e3e3e3;
}

.wrapper {
    display: flex;
    width: 1000px;
    margin: 24px auto;
}

.main {
    display: block;
    width: 70%;
}

.sideMenu {
    width: 30%;
    margin: 0 0 0 8px;
}

.footer {
    width: 100%;
}


/* ロゴ
----------------------------------------------- */

.logo {
    width: 225px;
    height: 56px;
    margin: 0 auto;
    background: url('../images/logo.png') no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.logo__link {
    display: block;
    width: 100%;
    height: 100%;
}


/* グローバルナビゲーション
----------------------------------------------- */

.globalNav {
    display: flex;
    justify-content: center;
    margin: 16px 0 0;
}

.globalNav__item {
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 0px 8px;
    text-align: center;
    border-radius: 8px;
    color: #666;
    font-size: 1.3rem;
    letter-spacing: 1px;
    transition: 0.15s;
}

.globalNav__item.globalNav__item--active,
.globalNav__item:hover {
    background-color: #23519B;
    color: #fff;
}


/* 見出し
----------------------------------------------- */

.hidden {
    display: none;
}

.heading {
    padding: 8px 16px;
    background: url('../images/bg-slash.gif');
    letter-spacing: 1px;
    font-size: 1.6rem;
}

.heading.heading--mt {
    margin-top: 24px;
}


/* HOT TOPIC(特集コンテンツ)
----------------------------------------------- */

.hotTopic {
    display: flex;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);
    transition: opacity 0.15s;
}

.hotTopic:hover {
    opacity: 0.85;
}

.hotTopic__image {
    width: 50%;
    height: auto;
}

.hotTopic__image img {
    width: 100%;
    height: auto;
}

.hotTopic__content {
    position: relative;
    width: 50%;
    padding: 64px 24px 0;
    background-color: #1C497C;
    line-height: 1.6;
}

.hotTopic__content__title {
    color: #fff;
    font-weight: normal;
    font-size: 2.0rem;
}

.hotTopic__content__desc {
    margin: 8px 0 0;
    color: #CFDDE9;
}

.hotTopic__content__date {
    position: absolute;
    top: 24px;
    left: 0;
    width: 144px;
    padding: 4px;
    background-color: #fff;
    color: #1C497C;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1;
}


/* NEWS
----------------------------------------------- */

.scrollList {
    display: flex;
    flex-direction: column;
    max-height: 224px;
    overflow-y: auto;
    line-height: 16px;
}

.scrollList__item {
    display: flex;
    padding: 8px 16px;
    color: #333;
    font-size: 0;
    transition: background-color 0.1s;
}

.scrollList__item:nth-of-type(even) {
    background: url('../images/bg-slash.gif');
}

.scrollList__item:hover {
    background-color: #fafaf8;
}

.scrollList__item__date {
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.0rem;
}

.scrollList__item__category {
    width: 56px;
    border-radius: 4px;
    background-color: #23519B;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.0rem;
    margin-left: 8px;
}

.scrollList__item__category.scrollList__item__category--news {
    background-color: #6C411E;
}

.scrollList__item__title {
    flex: 1;
    margin-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.2rem;
}


/* ARTICLES(記事)
----------------------------------------------- */

.article {
    display: flex;
    flex-wrap: wrap;
}

.article__item {
    width: 348px; /* (700 - 4) / 2 */
    height: 376px;
    margin-top: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 216px 16px 0;
    box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.15);
    transition: opacity 0.15s;
}

.article__item:nth-child(2n) {
    margin-left: 4px;
}

.article__item:nth-child(n+3) {
    margin-top: 12px;
}

.article__item:hover {
    opacity: 0.8;
}

.article__item__title {
    margin-top: 24px;
    color: #555;
    font-size: 1.4rem;
    line-height: 1.6;
}

.article__item__desc {
    margin-top: 8px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.article__item__date {
    position: absolute;
    right: 0;
    bottom: 16px;
    width: 160px;
    padding: 4px;
    background-color: #A9CC7D;
    color: #333;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.1rem;
}

.article__item__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.article__item__image img {
    width: 100%;
    height: auto;
}


/* ランキング
----------------------------------------------- */

.ranking {
    display: flex;
    flex-direction: column;
    counter-reset: ranking;
}

.ranking__item {
    display: flex;
    align-items: center;
    margin-top: 16px;
    font-size: 0;
    transition: opacity 0.15s;
}

.ranking__item:hover {
    opacity: 0.8;
}

.ranking__item__image {
    width: 56px;
    height: 56px;
}

.ranking__item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ranking__item__text {
    flex: 1;
    color: #000;
    font-size: 1.2rem;
    line-height: 1.5;
}

.ranking__item__order {
    width: 16px;
    height: 16px;
    margin: 0 8px;
    border: 1px solid #ccc;
    color: #aaa;
    text-align: center;
    font-weight: bold;
    line-height: 14px; /* height - border * 2 */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ranking__item:nth-of-type(1) .ranking__item__order,
.ranking__item:nth-of-type(2) .ranking__item__order,
.ranking__item:nth-of-type(3) .ranking__item__order {
    border: none;
    color: #282828;
    font-weight: normal;
    line-height: 16px;
}

.ranking__item:nth-of-type(1) .ranking__item__order {
    background-color: #F1ECB1;
}

.ranking__item:nth-of-type(2) .ranking__item__order {
    background-color: #B7B7B7;
}

.ranking__item:nth-of-type(3) .ranking__item__order {
    background-color: #EBC7BC;
}

.ranking__item__order::before {
    display: inline-block;
    content: counter(ranking);
    counter-increment: ranking;
    font-size: 1.0rem;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
