@charset "UTF-8";

/* 共通部分のCSS
----------------------------------------------- */

html {
    font-size: 62.5%;
}

body {
    color: #333;
    font-size: 1.2rem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
    color: #23519B;
    text-decoration: none;
}


/* 大枠
----------------------------------------------- */

.header {
    width: 100%;
    padding: 24px 0 8px;
    background: url('../images/bg-header.gif') repeat-x;
    box-shadow: 0 0 10px 1px #e3e3e3;
}

.wrapper {
    display: flex;
    width: 970px;
    margin: 24px auto;
}

.main {
    display: block;
    width: 70%;
}

.sideMenu {
    width: 30%;
    margin: 0 0 0 8px;
}

.footer {
    width: 100%;
}


/* ロゴ
----------------------------------------------- */

.logo {
    width: 225px;
    height: 56px;
    margin: 0 auto;
    background: url('../images/logo.png') no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.logo__link {
    display: block;
    width: 100%;
    height: 100%;
}


/* グローバルナビゲーション
----------------------------------------------- */

.globalNav {
    display: flex;
    justify-content: center;
    margin: 16px 0 0;
}

.globalNav__item {
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 0px 8px;
    text-align: center;
    border-radius: 8px;
    color: #666;
    font-size: 1.3rem;
    letter-spacing: 1px;
    transition: 0.15s;
}

.globalNav__item.globalNav__item--active,
.globalNav__item:hover {
    background-color: #23519B;
    color: #fff;
}


/* HOT TOPIC(特集コンテンツ)
----------------------------------------------- */

.hidden {
    display: none;
}

.hotTopic {
    display: flex;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);
    transition: opacity 0.15s;
}

.hotTopic:hover {
    opacity: 0.85;
}

.hotTopic__image {
    width: 50%;
}

.hotTopic__content {
    position: relative;
    width: 50%;
    padding: 64px 24px 0;
    background-color: #1C497C;
    line-height: 1.6;
}

.hotTopic__content__title {
    color: #fff;
    font-weight: normal;
    font-size: 2.0rem;
}

.hotTopic__content__desc {
    margin: 8px 0 0;
    color: #CFDDE9;
}

.hotTopic__content__date {
    position: absolute;
    top: 24px;
    left: 0;
    width: 144px;
    padding: 4px;
    background-color: #fff;
    color: #1C497C;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1;
}